body{
    color: red;
}
h1{
    background-color: black;
    text-align: center;
}
footer{
    display: flex;
    background-color: black;
    justify-content: space-around;
}
footer p {
    color: red;
   
}

.square{
    height: 30px;
    width: 30px;
}

.joueur{
   
    background-color: green;
}
.cible{
    
    background-color: yellow;
}
.boite{
   
    background-color: blue;

}
.boitesurcible{
    
    background-color: rgb(204, 5, 187);

}
.mur{
    
    background-color: gray;

}
.sol{
    background-color: red;
}

.forflex{
    display: flex;
}


/*#world:nth-child(2){
    display: flex;
}
