body{
    color: red;
    
}

h1{
    background-color: black;
    text-align: center;
}
footer{
    display: flex;
    background-color: black;
    justify-content: space-around;
}
footer p {
    color: red;
   
}


.square{
    height: 30px;
    width: 30px;
}



.sol{
    background-color: red;
    background-image: url(../../Images/ground.png);
}
.cible{
    
    background-color: yellow;
    background-image: url(../../Images/target.png);
}
.boite{
   
    background-color: blue;
    background-image: url(../../Images/box.png);

}
.boitesurcible{
    
    background-color: rgb(204, 5, 187);
    background-image: url(../../Images/box-on-target.png);

}
.mur{
    background-color: gray;
    background-image: url(../../Images/wall.png);
}

.joueur{
   
    background-color: green;
    /*animation: animgauche  0.75s infinite;*/
    background-image: url(../../Images/player-front.png);
}


.forflex{
    display: flex;
}
#compteur{
    background-color: red;
    margin-left: 130px;
    border: 3px solid black;
}
#nbcompteur{
    background-color: yellow;
    
}
.resetlevel{
    background-color: red;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    
    margin-left: 130px
}

.left{
    background-image: url(../../Images/player-left.png);
}
.right{
    background-image: url(../../Images/player-right.png);
}
.up{
    background-image: url(../../Images/player-up.png);
}
.front{
    background-image: url(../../Images/player-front.png);
}